body{
    background-repeat: no-repeat;
    background-image: url("../img/background.jpg");
    background-size: cover;
    z-index: -1;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin:0;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    
}

#root{
    padding: 0;
    margin:0;
    padding: 0;
    margin:0;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    
}



