body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    z-index: -1;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin:0;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    position: absolute;
    
}

