body{
     /* background: black; */
    overflow-x: hidden; 
    overflow-y: hidden; 
}

::-webkit-input-placeholder 
{
    text-align: center;
    color:grey
}

.error-label
{
    color:red;
    font-weight: bold;
}

.input-error{
    border: 1px solid red
}

.field
{
    width: 70%;
    display: inline-flex;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 28px;
    color: white;
    margin: 5px;
    align-content: center;
    font-weight: bold;

}

.label{
    font-size: 14px;
    color:goldenrod;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 5px;
    width:100px;
}

td{
    width:100%;
}

.input-bar , .error{
    color: white;
    text-align: center;
    padding: 3px;
}

#submit-button{
    
   margin-top:35px;
   font-size:16px;
   font-weight: bold;
   background: black;
   color:white;
   border:0.5px solid;
   text-transform: none;
   border-radius: 10px;
   text-emphasis: bold;
   padding:10px;
   margin-left:7%;
   margin-top:5%;
}

#submit-button:hover{
    background: white;
    border-radius: 10px;
    color:black;
    cursor: pointer;
}

.Form
{
    display: block;
    border: 1px solid;
    background: black;  
}
form{
    margin-left: 38%;
}

div.title {
    margin-bottom: 2%;
    font-size:44px;
}
