body{
     /* background: black; */
    overflow-x: hidden; 
    overflow-y: hidden; 
}

::-webkit-input-placeholder 
{
    text-align: center;
    color:white;
}

.error-label
{
    color:#750909;
    font-weight: bold;
}
.form{
    width: 50%;
    /* display: block; */
    background: rgb(126, 112, 112);
    box-shadow: 5px 5px 5px 1px;
    padding: 50px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}

div.title{
    /* margin-bottom: 20px; */
    color: white; 
      
}

#submit-button{
   margin-top:10px;
}
