body{
     /* background: black; */
    /* overflow-x: hidden; 
    overflow-y: hidden; */
    box-shadow: 100px 0px 100px 100px;
}

::-webkit-input-placeholder 
{
    text-align: center;
    color:rgb(255, 255, 255,0.25) !important;
    font-weight: 300;
}

.error-label
{
    color:red !important;
    font-weight: 600;
}
.form{
    width: 40%;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    align-items: center;
}

.transparent-bg{
    width: 35%;
    background: black;
    box-shadow: 2px 2px 2px 2px; 
    opacity: 0.4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    border-radius: 40px;
}

.transparent-bg.sign-up{
    height: 540px;
}
.transparent-bg.sign-in{
    height: 380px;
}

.bgForm{
    display: table;
}

div.title{
    margin-bottom: 20px;
    color: white;
    font-size: 35px;
    text-decoration: overline;
      
}

.fullName
{
    display: flex;
    flex-direction: row;
    width: 81%;
    /* align-self: center; */
}

input{
    text-align: center;
    color: white;
    background-color: rgb(255, 255, 255,0.05) !important;
    border-radius: 50px !important;
    width: 80% !important;
    /* align-self: center; */
    margin: 9px !important;
    border-bottom: transparent !important;
}

#submit-button{
    margin-top: 30px;
    align-content: center;
    width: 80%;
    /* align-self: center; */
    border-radius: inherit;
    background-color: unset;
    color: white;
    font-weight: bold;
    padding: 10px;
}

#submit-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}



input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]){
border-bottom: 1px solid;  
-webkit-box-shadow: 0 1px 0 0; 
box-shadow: 0 1px 0 0
}


.error{
   border: 1px solid red !important;
   -webkit-box-shadow: 0 1px 0 0 red !important; 
    box-shadow: 0 1px 0 0 red !important;
}


@media only screen and (max-width: 850px) {
    .form{
        width: fit-content;
    } 
    .transparent-bg
    {
        width: 70%;
    }
  }