.background{
    background: white;
    opacity: 0.1;
    width: 50%;
    height: 20%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.TaskZone{
    width: 50%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}