/* nav .brand-logo {
    margin-left: 10%;
} */
nav{
    font-weight: bold;
    background-image:url("../img/navbar.jpg");
}
a:not(.btn-floating):hover{
color:rgb(233, 30, 99); 
background: #070931; 
width: 100%;
text-align: center;

}

nav ul a{
    margin-right: 20px !important;
    text-align: center;
}