.deleteIcon ,.editIcon
{
    cursor: pointer;
    color: aliceblue
}

.title   
{
    font-weight: bold;
    font-size: 32px;
}
.collection{
    border: 0px white solid !important;
    overflow-y: scroll;
    max-height: 600px;
}   
.collection-item
{
    border: 0 solid;
    display: flex;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px !important;
}
 .collection-item .mission-text 
{
    width:90%;
    overflow: hidden;
    white-space: initial;
    color: white;
}

.collection .collection-item{
    /* border: 0.5px white solid; */
    border-bottom: 0.3px white solid !important;
    background-color: transparent;
    opacity: 0.7;
    margin: 10px;
    /* padding: 2px !important;     */
    /* border-radius: 40px 40px; */
}

.swal-button--confirm{
    padding: 7px 19px;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 12px;
    position: relative;
    align-content: center;
    border: 1px solid green;
  }

  .swal-button--cancel{
    padding: 7px 19px;
    border-radius: 4px;
    background-color:white;
    font-size: 12px;
    position: relative;
    align-content: center;
    color: black;
    border: 1px solid red;
    margin-left:20px;
  }

  .swal-button--cancel:hover{
   background-color: red;
   color: white;
  }

  .swal-button--confirm:hover{
    background-color: green;
    color: white;
  }

  .swal-content__input:focus
  {
    border-color: black;
  }

  .btn
  {
      margin: 15px;
      border-radius: 25px;
  }

  .btn:hover
  {
      cursor: pointer;
  }

  .forwards:hover
  {
      cursor: pointer;
  }

  .backwards:hover
  {
      cursor: pointer;
  }

.spinner:empty
{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 7em;
    height: 7em;
    border: 1.1em solid #060f91;
    border-left: 1.1em solid white;
    border-radius: 50%;
    -webkit-animation: loader 1.1s infinite linear;
    animation: loader 1.1s infinite linear;
}
    
@keyframes loader 
{
    100% 
    {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #808080; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #25277a ;
    opacity: 0.7; 
  }
  